.sidebartitle h1{
font-size: 20px;
font-weight: 600;
line-height: 45px;
text-align: left;
color: #151D48;
}
.sidebartitle span{
    cursor: pointer;
    font-weight: 600;
    line-height: 43px;
    text-align: left;
    color: #F97300;
    }

.verticlenavbar p{
font-size: 18px;
font-weight: 600;
line-height: 32px;
text-align: left;
color:#252529 ;
}
.verticlenavbar h1{
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color:#252529 ;
  }
.icon-fill{
fill: #979797;
}
.icon-stroke{
    stroke: #979797;
}

.active-sidebar {
padding: 9px 5px 9px 18px;
border-radius: 10px ;
background: #F97300;
box-shadow: 0px 20px 50px 0px #3745571A;
color: #FFFFFF;
  }
  .sidbar-text{
    user-select: none;
  }
  .active-sidebar .icon-fill{
    fill: white;
  }
  .active-sidebar .icon-stroke{
    stroke: white;
  }
  .verticlenavbar ul{
    margin-left: none;
  }
  
.verticlenavbar li p {
    display: inline-block;
    transition: opacity 0.3s;
    opacity: 1;
}
.verticlenavbar li p {
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container p{
    margin: 0px;
}
.verticlenavbar li{
    cursor: pointer;
}
.active-sidebar p{
    
    color: #FFFFFF;
    /* color:#737791 ; */
    }
.container.collapsed  li{
    justify-content: center !important;
    gap: 0 !important;

}

/* .container.collapsed .active  svg{
    fill: white;
    
} */
.sidebarinner.collapsed .verticlenavbar li h1 {
  width: 70%; 
  height: 57%; 
  overflow: hidden;
  white-space: nowrap;
  border: 2px solid #F97300; 
  border-radius: 70%; 
  margin: 1px;
  padding: 0px 2px 0px 0px;
  display: flex;
  background-color: #F97300;
  color: #fff;
}

.sidebarinner.collapsed .verticlenavbar li p {
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}
.sidebarinner ul{
      padding-left: 1rem !important;
}
.container.collapsed ul{
    padding-left: 0.5rem !important;

}
.container.collapsed p{
    padding: 0px;
    margin: 0px;
}
.sidbar-item-link{
    text-decoration: none;
    list-style-type: none;
}
.verticlenavbar ul{
    list-style: none;
}

@media only screen and (max-width: 1599px) {
    .sidebartitle h1{
        font-size: 22px;
        margin-right: 20px;
        }
        .Mysurveypro{
            display: inline-block;
            padding: 0 10px; /* Default padding */
            transition: all 0.3s ease;
            font-size: 10px;
        }
        .Mysurveypro:hover {
            border-radius: 8px;
            user-select: none;
            cursor: pointer;
            background-color: rgb(247, 247, 246);
            padding: 0 5px; /* Ensures the padding doesn't change */
         
          }
        
       
  }
  @media (max-width: 1100px) {
    .active-sidebar {
      padding: 5px 0px 1px 0;
    }
    .cross-icon {
        display: none;
    }
    .container.collapsed {
        margin-top: 20px;
    }
}

.Mysurveypro{
    display: inline-block;
    padding: 0 20px; /* Default padding */
    transition: all 0.3s ease;
    font-size: 19px;
    font-weight: 700;
  }

  .Mysurveypro:hover {
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    background-color: rgb(247, 247, 246);
    padding: 0 20px; /* Ensures the padding doesn't change */
 
  }
  .text-small{
    font-size: 16px;
    font-weight: 600;
  }
  .text-small.collapsed {
    font-size: 10px;
    font-weight: 600;
    width: 100px; /* Adjust width to control text wrapping */
    white-space: normal; /* Allows text to wrap */
    word-break: break-word; /* Ensures words break if necessary */
    text-align: center; /* Centers the text */
    line-height: 1.2; /* Adjust line height for better spacing */
  }
  
  .card-plan{
     padding: 0 5px 0 5px;    
  }
  .text-small-paragraph.collapsed{
    /* display: none; */
    font-size: 10px;
  }
  .card-width{
    width: 46px;
  }