/* Ensure the main container takes the full viewport height and width */
.login-main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    box-sizing: border-box; 
    background-image: url("../../assets/login-and-signup/login_background.png");
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the background image */
    height: 100vh; /* Set height to 100vh to cover the full viewport height */
}

/* Define styles for the card */
.card-login {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* max-width: 100%;  */
    max-height: 100%;
    overflow-y: auto; 
    border-radius: 15px;
    background-color: #fff;
}

/* Define styles for the card body */
.login-card-body {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    background-color: #fff;
    padding: 0px 30px;
}

/* Define styles for the login visuals container */
.visuals-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

/* Define styles for the login content container */
.login-content {
    padding: 30px 0px;
    box-sizing: border-box;
}

/* Center the logo inside the visuals container */
.visuals-login .login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

/* Define styles for the welcome text */
.welcome-text {
    margin: 0px;
    font-family: var(--font-poppins);
    
   
   
    margin-bottom: 20px; /* Reduce margin for better spacing on small screens */

  
font-weight: 500;
font-size: 50px;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;

}

/* Define styles for the account creation suggestion */
.account-creation-suggestion {
    color: #878D96;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin: 5px 0px;
}

/* Define styles for the account creation suggestion span */
.account-creation-suggestion span {
    color: #3B5BE4;;
    cursor: pointer;
    font-weight: 600;
}


/* Define styles for the info image */
.info-image {
    max-width: 100%;
    max-height: 100%;
}

/* Define styles for the login logo image */
.login-logo img {
    max-width: 100%;
}

/* Define styles for the forget password text */
.forget-pass-text {
    margin: 0px;
    line-height: 1.5;
    font-size: 1rem;
    color: #3B5BE4;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Define styles for the sign-in border */
.signin-border {
    font-size: 1rem;
    color: #757171;
    margin: 10px 0px;
}

/* Define styles for the social login button */
.socail-login {
    border: 1px solid var(--color-midnightblue);
    padding: 11px 37px;
    border-radius: 10px;
    /* width: 100%; */
    margin: 10px 0px;
    display: flex;
    justify-content: center; /* Center content inside button */
}

/* Define styles for the social login text */
.socail-login p {
    margin: 0px;
}
.socail-login:hover{
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    background-color: #d77418;
    /* padding: 0 5px;  */

}
.custom-google-button {
   
    /* color: white; */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* Adjust the width as needed */
  }
  
  .custom-google-button:hover {
    background-color: #e7601c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .custom-google-button:disabled {
    background-color: #ad1414;
    cursor: not-allowed;
  }
  
  