.pricing{
    margin: 10px;
    background-color: #FFFFFF !important;
border-radius: 20px;
border: 1ps solid white;
  background-size: contain;
  background-position: fixed;
  box-shadow: 0px 4px 14.7px 0px rgba(0, 0, 0, 0.15);
}
.custom-img-fluid{
    font-size: 10px;
}

span.dollar {
font-size: 15px !important;
font-weight: 400 !important;
line-height: 18px !important;
text-align: center !important;
color: #FFFFFF !important;
}
.five{
    margin: 0px 0px 0px -1px;
}
span.five {
    font-size: 25px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    text-align: center !important;
    color: #FFFFFF !important;
}
.paymentsuccess{
    border-radius: 20px;
    border: 1px solid #E1E3E8;
    box-shadow: 0px 4px 15px 0px #00000026;
    background-color:#FFFF !important;
    background:  
    url("../../assets/Q12survey/backgournd.png") no-repeat;
  /* background-size: contain; */
  background-position: fixed;
}
.paymentsuccess h1{
font-size: 60px;
font-weight: 700;
line-height: 90px;
text-align: center;
color: #00C900;
}
.paymentsuccess h2{
font-size: 40px;
font-weight: 400;
line-height: 60px;
text-align: center;
    color: #000000;
    }
.paymentsuccess p{
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: center;
color: #000000;
}
.sidbar-item-link{
    text-decoration: none;
    list-style-type: none;
}
.pricingcard{
  
padding: 30px 0px 0px 0px;
gap: 10px;
border-radius: 26px ;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #E7EBFF;
box-shadow: 0px 5px 10px 0px #00000040;
background: #FEFEFC;
position: relative;
  display: inline-block;
  /* width: 80px; 
  height: 90px; */
}
.pricingcard h1{
    font-size: 33px;
    font-weight: 500;
    line-height: 52.8px;
    letter-spacing: -1px;
    text-align: left;
    color: #1B223C;
}
.pricingcard h2{
font-size: 30px;
font-weight: 500;
line-height: 72px;
letter-spacing: -1px;
text-align: left;
color: #1B223C;

}

.pricingcard span{
    font-size: 20px;
font-weight: 300;
line-height: 32px;
text-align: left;
color: #797878;

}
.pricingcard-text span{
    font-size: 18px;
font-weight: 400;
line-height: 35px;
text-align: left;
color: #1b223c;

}
.price-line{
    border: 1px solid #E7EBFF
}
.image-container {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 90px;
    right: 20px;
    top: 0;
    margin-top: -25px;
    font-size: 25px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    
  }
  
  .pricing-image {
    /* margin-top: -50px; */
    width: 100%;
    height: 100%;
  }
  
  .text-overlay {
    /* margin-top: -50px; */
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
  }
  
