


.Q12-section {
    height: 100vh;
    border-radius: 20px;
    background-image: url("../../../../assets/Q12survey/Q12image.png");
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}
.congratulations{
    border-radius: 20px;
    background-image: url("../../../../assets/Q12survey/celebration.png");
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
}


.form-check-input-TEI {
    position: relative;
    width: 15px; 
    height: 15px; 
    border-radius: 20px;
    border: none !important; 
    background-color: #F97300;
    cursor: pointer; 
    appearance: none; 
    outline: none; 
    box-shadow: none !important; 
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8) !important;
}

.form-check-input-TEI:checked {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); 
    background-color: #F97300; 
    border: 2px solid #F97300; 
}

.form-check-input-TEI:checked::before {
    content: "	\2713"; 
    position: absolute;
    left: 50%; 
    top: 43%; 
    transform: translate(-50%, -50%); 
    font-size: 16px; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    width: 90%; 
    height: 90%; 
    border-radius: 4px;
    background-color: transparent; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
}

.form-check-input-TEI:focus {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2); 
    box-shadow: none; 
}

.TEIcheckmark {
    margin-top: 1px; 
    line-height: 25px; 
    font-size: 16px;
font-weight: 500;
line-height: 22.8px;
text-align: left;
color: #151D48;
}

.form-check-input-TEI:checked[type=checkbox] {
    --bs-form-check-bg-image: none; 
}

.mysurveypro-input-field{
    border-radius: 10px;
    border: 1px solid #B7BBBE;
    padding: 18px 13px 18px 13px;
    width: 100%;
}
.mysurveypro-input-field::placeholder{
  color: #C5C5C5;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px; 
   
}
.backgroundcolor{
    background-color: #ffff;
}
.backgroundcolor h1{
font-size: 70px;
font-weight: 700;
line-height: 84px;
text-align: left;
color: #00E096;
}
.backgroundcolor h2{
font-size: 48px;
font-weight: 700;
line-height: 57.6px;
text-align: left;
color: #000000;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root{
    color: #ffff !important;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
}
.stepper{
gap: 0px;
border-radius: 20px;
background-color: #ffff;
box-shadow: 0px 4px 13.8px 0px #00000026;
}
.text-start h1{
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    color: #151D48;
}
.text-start p{
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
color: #151D48;

}
.stepper-section{
    background-color: #ffff;
    border: 1px solid;
}
.steppercard{
    border-radius: 20px  ;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {
    .backgroundcolor h1{
        font-size: 40px;
        }
        .backgroundcolor h2{
            font-size: 40px;
        }
}
.tableheader{
    margin-top: -180px !important;
    background-color: #d3d3d3;
    box-shadow:  0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);;
}
.table-body{
    /* border-radius: 8px; */

    border-top: 1px solid #2d2d2e;
    background-color: hsl(206deg 59.96% 54.26%);
    color: white;
    text-align: start;
}
.Question-header{
    /* border-bottom: 1px solid #000000; */
    border-bottom:2px solid #c4c1c1 ;
    text-align: start;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
    color: #000000;
   
}
.question-question-nmber{
    font-size: 15px;
    font-weight: 900;
    border-bottom:2px solid #c4c1c1 ;

}
.Question-section{
    border-radius: 5px;
    background-color: #ffff;
    text-align: start;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, .8) !important;

}
.question-text h3 {
    font-size: 16px;
}
.question-text h1{
    font-size: 20px;

}
/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.mt-3.ms-2.css-159toye-MuiPaper-root {
    background-color: #d3d3d3 !important;
} */
.custom-img{
    width: 20px;
    height: auto; 
  }
  
  textarea.form-control {
}
textarea.form-contro:active {
    background-color:  #d3d3d3;
}
.Question-userinput.d-flex.gap-5.p-2.mt-0.pt-0.MuiBox-root.css-0 {

     display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 98%;
}
.userinput{
    
    font-weight: 400;
    font-size: 0.928571rem;
    line-height: 1.4375em;
    box-sizing: border-box;
    cursor: text;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 0px 5px;
    width: 100%;
    color: rgb(33, 33, 33);
    position: relative;
}

.userinput::before {
    left: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    right: 0px;
    pointer-events: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.userinput::after {
    border-bottom: 2px solid rgb(2, 136, 209)!important;
}
.css-rh92k-MuiPaper-root-MuiMobileStepper-root{
    margin: 20px;
    color: #000000;
    font-size: 17px;
    font-weight: 900;
}
.text h1 {
    font-size: 24px; 
    font-weight: 600; 
    color: #333; 
    margin-bottom: 15px;
    line-height: 1.5; 
    letter-spacing: 0.5px; 
    color: #151D48;
    /* text-transform: capitalize;  */
}
.mui-button-resp{
    background-color: #d3d3d3 !important;
    justify-content: space-evenly;
}
@media (max-width:500px){
    .Q12-section{
        margin: 40px 0px 40px 0px  !important;;
        padding: 0 !important;;
    }
    .text{
        padding: 2px 0px 0px 0px  !important;
        margin: 0 0px 0px 0px 0px !important;;
    }
    .text h1 {
     
        font-size: 15px;
    }
    .tableheader {
        margin-top: -120px !important;
    }
    .dimension-text{
        font-size: 10px !important;
    }
    .form-check-input-TEI {
        width: 12px; 
        height: 12px; 
    }
    .line-width{
        height: 50% !important;
    }
    .Question-options {
        gap: 1px !important
    }
    .question-text{
        margin: 3px 20px 0px 10px !important;
        padding: 2px !important;
    }
    .some-class h3 {
        font-size: 5px !important;
      }
      .mui-button-resp{
        flex-direction: row !important;
        justify-content: space-between!important;
      }
      .css-rh92k-MuiPaper-root-MuiMobileStepper-root {
        font-size: 10px !important;
        margin: 3px !important;
      }
      .css-1knaqv7-MuiButtonBase-root-MuiButton-root {
        padding: 0px  !important;
        margin: 0px !important;
        font-size: 10px !important;
        max-width: none !important;
        
      }
}
@media (max-width:600px) {
    .tableheader {
        margin-top: -150px !important;
    }
}
@media (max-width:450px) {
    .tableheader {
        margin-top: -110px !important;
    }
}
