@media (max-width: 576px) {
    .vsgraph {
      width: 24px;
      height: 24px;
      padding: 1px;
    }
    .vsgraph-design{
        width: 24px;
        height: 24px;
        padding:20px;
        margin-left: 0px;
        
    }
  
    td img {
      margin: 0.25rem;
    }
  }
 
.text-list{
  font-size: 17px;
  color: #333;
  line-height: 1.6;
}
.text-listitem{
  font-size: 15px;
  color:#4e4d4d !important;
  line-height: 1.6;
}
.plusicon{
  color: #ffff !important;
  font-size: 16px;
  margin-top: -2px !important;
}
.welcome{
  font-size: 30px;
  font-weight: 500;
  
}
@media (max-width: 770px) {
  .plusicon + span {
    display: none;
  }
}
