.upload-file-main{
    width: calc(50%);
}
.choose-file{
    color: var(--color-darkorange);
    cursor: pointer;
}
.next-button-main{
    /* width: calc(30%); */
}
.thanks-content{
    display: flex;
}
.upload-icon{
    width:243px; 
    height:223;
}
.upload-file-buttons{
    display: flex;
    justify-content: center;
    gap: 100px;
}
#uploadFileInput{
    display: none;
}
.file-show-name{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 40px 20px;
    border: 1px solid lightgrey;
    list-style-type: none;
    border-radius: 15px;

}
.format-selector-dropdown{
    position: absolute;
    z-index: 1;
    background-color: white;
    padding:5px;
    width: 100%;
    border-radius: 5px;
    display: none;
    
    
}
.format-selector-dropdown p{
    font-weight: 500;
    padding: 5px 15px;

}
.format-selector-dropdown p:hover{
    background-color: lightgray;
    cursor: pointer;
}
.active-selector{
    display: block !important;;
}
@media (max-width:950px) {
  .upload-file-buttons{
    gap: 50px;
  }  
}
@media (max-width:650px) {
    .upload-icon{
        width:143px; 
        height:123;
    }  
}
@media (max-width:500px) {
    .upload-file-buttons{
        gap:15px;
    }
}

.table-bordered-custom {
    border: 1px solid #e9e6e1;
  }
  
  .table-bordered-custom th,
  .table-bordered-custom td {
    border: 1px solid #e9e6e1;
  }
  .btn-outline-info:hover{
    color: orange;
  }
  .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar{
    display: flex;
    align-items: baseline;
    justify-self: center;
    color: #0e0e0d ;
    font-weight: 900;
  }
  .btn-outline-danger:hover{
    color: red;
  }
  .website-button:disabled {
    background-color: #e4844c; /* Light gray for disabled state */
    cursor: not-allowed;
  }