
.profile{

background-image: url(../../../assets/Dashboredpng/background-gradiant.png); 
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;

}
.form-label{
  font-family: Poppins;
  font-weight: 600;
  font-size: 15.29px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #606060;

}
.profile h1{
font-size: 30px;
font-weight: 600;
line-height: 36px;
text-align: left;
color: #000000;
}
.profile-img {
    border-radius: 50%;
    width: 30vw; 
    height: 30vw; 
    max-width: 220px; 
    max-height: 220px; 
    object-fit: cover; 
    margin: auto; 

opacity: 0px;

/* Ensures the image covers the circle without stretching */
  }
  
  
  /* Media queries for different screen sizes */
  @media (max-width: 768px) {
    .profile-img {
      width: 40vw; /* Larger relative width for smaller screens */
      height: 40vw;
    }
   
    .save-text{
      font-size: 13px !important;
      
    }
  }
  @media (max-width: 960px) {
    
    .save-text{
      font-size: 16px;
    }
  }
  
  @media (max-width: 576px) {
    .profile-img {
      width: 50vw; /* Even larger relative width for very small screens */
      height: 50vw;
    }
  }
  
  
