.customize-form-parent-image{
    background-image: url('../../assets/landingPage/formsectionimage.png');
    height: 598px;
    width: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}
.customize-form-shade-image{
    position: absolute;
    background-image: url("../../assets/landingPage/fromsectionshade.png");
    width: 100%;
    height: 100%; 
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.customize-form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}
.custm-heading{
    max-width: 60%;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.custm-description{
    font-weight: 300;
    color: white;
    font-size: 20px;
    line-height: 35px;
}
@media (max-width:750px){
    .custm-heading{
        max-width: 80%;
        color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
    .custm-description{
        width: 70%;
        font-weight: 300;
        color: white;
        font-size: 16px;
        line-height: 20px;
    }
    
}
@media (max-width:400px){
    .custm-heading{
        max-width: 100%;
        color: white;
        font-weight: 700;
        font-size: 15px;
        line-height: 35px;
    }
    .custm-description{
        width: 100%;
        font-weight: 300;
        color: white;
        font-size: 15px;
        line-height: 20px;
    }
    
}
@media (max-width:1000px) {
    .custm-heading {
        font-size: 30px;
    }
}