.hover-container {
    position: relative; 
    overflow: hidden; 
  }
  
  .hover-container img {
    transition: transform 1.5s ease; 
  }
  
  .hover-container:hover img {
    transform: scale(1.1);
  }
.effortless_heading{
    display: flex;
    justify-content: space-between;
}
.e_heading p{
font-weight: 700;
font-size: 51px;
line-height: 65px;
color: #32012F;

}
.e_heading span{
    color:  #05467E;

}
.effortless_meeting p{
font-weight: normal;
font-size: 38.5px;
line-height: 50px;
color: #5D5D5D;
}
.effortless_description{
font-weight: 400;
font-size: 24px;
line-height: 34px;
color: #5D5D5D;
}
@media (max-width: 600px) {
        .effortless_heading {
            margin: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        
    
    
}