.create-forms-that-container {
  text-align: center;
}

.create-forms-that {
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden; 
  border-right: 2px solid black; 
}

.first-line {
  animation: typing 4s steps(40, end), blink 0.75s step-end infinite; 
}

.engagements {
  display: inline-block;
  white-space: nowrap; 
  overflow: hidden; 
  border-right: 2px solid black; 
  opacity: 0; 
  animation: none; 
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing-mysurveypro {
  from {
    width: 0;
  }
  to {
    width: 28%;
  }
}


.hover-container {
  position: relative; 
  overflow: hidden; 
}

.hover-container img {
  transition: transform 1.5s ease; 
}

.hover-container:hover img {
  transform: scale(1.1);
}


.create-forms-that{
font-size: 52.31px;
font-weight: 700;
line-height: 75px;
text-align: center;
color:  #32012F;

}
.herosection{
  background: #D9D9D91F;
}
.create-forms-that,
.engagements {
  margin: 0;
 
 
}
.hero-banner-tagline{
  color: #5D5D5D;
  font-size: 30px;
  line-height: 40px;
font-weight: 400;
}
.engagements{
 color:  #05467E;
}
.create-forms-that-container {
  margin: 0;
 
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
 
}
.hero-section{
  margin: 0px 140px 30px 140px;
}
.topherosection{
  width: 100%;
  padding: 30px;
  background-color: rgb(57 190 201 / 7%);;
}
.hero-banner {
  background: rgba(16, 173, 186, 0.0741);

  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 16px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 52px;
  color: var(--color-midnightblue);
  font-family: var(--font-lato);
}
.work-eff{
  /* padding-top: 15px; */
}
.trust-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.text-content h3 {
  font-size: 25.02px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.02em;  
    color: rgba(93, 93, 93, 1);
}

.text-content h2 {
  font-size: 51.02px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2px;  
    color: #5D5D5D;
}

.stats {
    display: flex;
    align-items: center;
    /* width: 60%; */
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.stat-item .number {
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
    line-height: 22.95px;
}

.stat-item .label {
    font-size: 17.87px;
    color: #888;
}

.divider {
    height: 20px;
    width: 3px;
    background-color: #ccc;
}




.tools-that-spark {
  margin: 0;
  width: 922px;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.my-survey-pro,
.tools-that-spark-business-brea-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.tools-that-spark-business-brea-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 81px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: #000;
  font-family: var(--font-lato);
}
.my-survey-pro {
  width: 100%;
  /* position: relative; */
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
}
.left-herosection{
  margin-top: 60px;
}
.left-herosection h1{
  font-size: 60px;
font-weight: 600;
line-height: 75.89px;
letter-spacing: -0.02em;
text-align: left;
text-decoration-skip-ink: none;
color: rgba(50, 1, 47, 1);
cursor: pointer;
}
.left-herosection h2{
  font-size: 60px;
font-weight: 600;
line-height: 75.89px;
letter-spacing: -0.02em;
text-align: left;
text-decoration-skip-ink: none;
color: rgba(5, 70, 126, 1);
}
.left-herosection span{
font-size: 26.92px;
font-weight: 400;
line-height: 35.39px;
text-align: left;
color: rgba(93, 93, 93, 1);
}
.startbutton{
  border: 2px solid rgba(5, 70, 126, 1);
  border-radius: 10px;
  background-color:rgba(5, 70, 126, 1) ;
  font-family: var(--font-lato);
  cursor: pointer;
  padding: 8px;
  color: #ffff;
}
.startbutton:hover{
  border: 2px solid rgba(5, 70, 126, 1);
  border-radius: 10px;
  background-color:white;
  color: rgba(5, 70, 126, 1);
  font-family: var(--font-lato);
}
.video-fluid {
  width: 80%; 
  height: 70vh; 
  object-fit: cover; 
  border: none; 
  outline: none; 
}

.video-container {
  display: flex;
  justify-content: end;
  align-items: end;
}


@media screen and (max-width: 800px) {
  .create-forms-that-container {
    font-size: 56px;
    line-height: 53px;
  }
  .tools-that-spark {
    font-size: var(--font-size-29xl);
    line-height: 72px;
  }
}
@media screen and (max-width: 450px) {
  .create-forms-that-container {
    font-size: 42px;
    line-height: 53px;
  }
  .tools-that-spark {
    font-size: var(--font-size-17xl);
    line-height: 54px;
  }
}
@media screen and (max-width: 1600px) {
  .left-herosection h1 {
    font-size: 40px;  
    line-height: 50.89px;
  }

  .left-herosection h2 {
    font-size: 30px;  
  }


  .left-herosection span {
    font-size: 15;  /* Smaller span for mobile */
  }
  .left-herosection span{
    font-size: 20px;
  }
  .left-herosection h3 {
    font-size: 20px;  /* Adjusted font for mobile */
  }
  .startbutton {
    font-size: 20px;  /* Scalable button size for mobile */
  }
}

@media screen and (max-width: 450px) {
  .left-herosection h1 {
    font-size: 12vw;  /* Further adjusted for very small screens */
  }

  .left-herosection h2 {
    font-size: 10vw;  /* Adjusted for smaller screens */
  }

  .left-herosection span {
    font-size: 6vw;  /* Responsive text scaling */
  }

  .startbutton {
    font-size: 5vw;  /* Adjust button font size */
  }
}



.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.5rem;
  min-width: 100px;
}

.number {
  font-weight: bold;
  font-size: 2rem;
}

.divider {
  display: none;
}

/* Larger screens */
@media (min-width: 768px) {
  .stats {
    flex-wrap: nowrap;
  }
 
  .divider {
    display: block;
    width: 2px;
    height: 50px;
    background-color: #ddd;
    align-self: center;
  }
}

@media (max-width:700px){
  .text-content h2 {
    font-size: 40.02px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -2px;
    color: #5D5D5D;
}
}
/* Extra large screens */


/* Blink Text code */

@keyframes typing {
  0%, 2% { content: ""; }
  4%, 6% { content: "M"; }
  8%, 10% { content: "My"; }
  12%, 14% { content: "Mys"; }
  16%, 18% { content: "Mysu"; }
  20%, 22% { content: "Mysur"; }
  24%, 26% { content: "Mysurv"; }
  28%, 30% { content: "Mysurve"; }
  32%, 34% { content: "Mysurvey"; }
  36%, 38% { content: "Mysurveyp"; }
  40%, 42% { content: "Mysurveypr"; }
  44%, 46% { content: "Mysurveypro"; }
  47%, 49%{ content: "Mysurveypro"; }
  50%, 52% { content: "Mysurveypro!"; }
  51%, 100% { content: "Mysurveypro!"; }


}



@keyframes blink {
  0%, 52% { opacity: 1; }
  20% { opacity: 0; }
}

.typewriter {
  --caret:rgba(50, 1, 47, 1); 
}

.typewriter::before {
  content: "";
  animation: typing 8s infinite;
}

.typewriter::after {
  content: "";
  border-right: 4px solid var(--caret);
  animation: blink 5s linear infinite;
}

.typewriter.thick::after {
  border-right: 4px solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 52% { content: "Mysurveypro"; }
    
  }

  .typewriter::before {
    content: "Mysurveypro";
    animation: sequencePopup 2s linear infinite;
  }
}

/**/
