.hover-container {
    position: relative; 
    overflow: hidden; 
  }
  
  .hover-container img {
    transition: transform 1.5s ease; 
  }
  
  .hover-container:hover img {
    transform: scale(1.1);
  }
.startToday_heading p{
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    color: #32012F;
    
    }
    .startToday_heading span{
        color:  #05467E;
        font-weight: 700;
        font-size: 51px;
        line-height: 65px;
    }
    .startToday_description p{
        font-weight: normal;
        font-size: 30px;
        line-height: 42.6px;
        color: #5D5D5D;
        }
        .startToday_content{
            display: flex;
            justify-content: space-between;
        }
        .st_text{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .st_text h1{
            font-weight: 800;
            font-size: 32.4px;
            line-height: 47.39px;
            color: black;
        }
        .st_text p{
            font-weight: normal;
            font-size: 28.56px;
            line-height: 38.34px;
            color: #5D5D5D;
            }
            @media (max-width:1000px) {
                .startToday_content{
                    padding-top: 2px !important;
                }
                .startToday_description p{
                    font-size: 25px;
                }
                .st_text h1 {
                 font-size: 25px;
                 line-height: 32.6px;
                }
                .startToday_heading p{
                    font-weight: 700;
                    font-size: 40px;
                }
                .startToday_heading span{
                    color:  #05467E;
                    font-weight: 700;
                    font-size: 40px;
                }
            }
            @media (max-width: 768px) {
                .st_text p {
                    font-size: 20px;
                }
                .startToday_content {
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: left;
                }
                .startToday_description p{
                    font-size: 20px;
                    line-height: 32.6px;

                }
                .startToday_heading p{
                    font-weight: 700;
                    font-size: 30px;
                }
                .startToday_heading span{
                    color:  #05467E;
                    font-weight: 700;
                    font-size: 30px;
                }
                .st_text {
                    margin-right: 20px;
                    text-align: left;
                }
                .startToday_content{
                    display: flex;
                    flex-direction: column;
                }
                
            }
            