.survey-solution-main{
    background: #D9D9D91F;


}
.survey-solution-content{
    display: flex;
justify-content: space-around;
}
.graph .text {
    font-size: 60.02px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -2px;  
      color: #5D5D5D;

}
.solution-content{
    width: 60%;
}
.solution-content .text {
font-weight: 400;
font-size: 23.45px;
line-height: 39.81px;
color: #5D5D5D;

}