
.hover-container {
    position: relative; 
    overflow: hidden; 
  }
  
  .hover-container img {
    transition: transform 1.5s ease; 
  }
  
  .hover-container:hover img {
    transform: scale(1.1);
  }

.survey-solution-main{
    background: #EBF9F8;


}
.survey-solution-content{
    display: flex;
justify-content: space-around;
}
.graph .text {
    font-size: 50.02px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 2px;  
      color: #5D5D5D;

}

.solution-content .text {
  font-weight: 400;
  font-size: 25.45px;
  line-height: 45.81px;
  color: #5D5D5D;
}
@media (max-width:1000px) {
  .graph .text {
    font-size: 42.02px;
  }
  .solution-content .text {
    font-size: 20.45px;
    line-height: 35.81px;
  }
  .container, .container-sm {
    max-width: 940px;
}
}