.total-survey-card{
    background: #FFE2E699;
    border-radius: 10px;
width: calc(25%);
}
.response-card{
    background: #FFF4DE99;
    width: calc(27%);
    border-radius: 10px;
}
.not-response-card{
    background: #DCFCE799;
    border-radius: 10px;
    width: calc(24%);
}
.pending-card{
    background: #F4E8FF99;
    border-radius: 10px;
    width: calc(24%);
}
.total-survey-icon{
    width:91px;
     height:90px;
}
.response-survey-icon{
    width:90px;
     height:91px;
}
.not-response-survey-icon{
    width:91px;
     height:91px;
}
.pending-survey-icon{
    width:91px;
     height:91px;
}
@media (max-width:1300px) {
    .total-survey-icon{
        width:71px;
         height:70px;
    }
    .response-survey-icon{
        width:70px;
         height:71px;
    }
    .not-response-survey-icon{
        width:71px;
         height:71px;
    }
    .pending-survey-icon{
        width:71px;
         height:71px;
    }
}
@media (max-width:1150px) {
    .total-survey-icon{
        width:51px;
         height:50px;
    }
    .response-survey-icon{
        width:50px;
         height:51px;
    }
    .not-response-survey-icon{
        width:51px;
         height:51px;
    }
    .pending-survey-icon{
        width:51px;
         height:51px;
    }
}