
.css-1ps6pg7-MuiPaper-root{
    box-shadow: none !important;
    border-radius: 0px !important;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    box-shadow: none !important;
    border-radius: 0px !important; 
}
