.surveylist-section{
    background-color: #ffff ;
    border: 1px solid #ffff;
    border: 1px solid #D4D4D4;
    border-radius: 20px;
    user-select: none;
}
.surveylist-section h1{
font-size: 34px;
font-weight: 700;
line-height: 57.8px;
text-align: left;
color: #32012F;
}
.surveyQuestion h1{
  font-size: 34px;
font-weight: 700;
line-height: 57.8px;
text-align: left;
color: #32012F;
}
.surveyQuestion p{
font-size: 24px;
font-weight: 400;
line-height: 40px;
text-align: left;
  color: #32012F;
  }
.sidbar-item-link {
    text-decoration: none;
    list-style-type: none;
}
.watchsectioncard{
    border-radius: 20px  ;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    .titletext{
        font-size: 17px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: left;
        color: #737791;
        
            }
  .watchsectioncard:hover {
    border-color: #F97300;
  }
  
  .watchsectioncard:hover .card-title  {
    color: #F97300;
  }
  .watchsectioncard:hover .titletext  {
    color: #F97300;
  }
  
  .watchsectioncard:hover  { 
    
    transform: scale(1.02);
    transition: transform 0.9s linear, filter 0.8s linear;
  }
  .card-title{
    font-size: 34px;
    font-weight: 700;
    line-height: 40.8px;
    text-align: left;
    color: var(--color-midnightblue);
        }

        .watchsectioncard:hover .card-title  {
            color: #F97300;
          }
          .templatebutton{
            padding: 2px 10px;
            font-Size: 15px;
          }

  .card-new-customize-survey{
    border-radius: 20px  ;
    border: 1px solid #D9D9D9;
    background-color: #fff;
    display: flex;
    width: 300px;
    height: 250px;
   justify-content: center;
    align-items: center;
    text-align: center;
    }
    .card-new-customize-survey:hover {
    border-color: #F97300;
  }

@media screen and  (max-width : 1300px) {
  .surveylist-section h1{
    font-size: 20px;
  }
  .surveylist-section {
    margin: 0px !important;
  }
  .templatebutton{
    padding: 2px 6px !important;
    font-Size: 11px !important;
  }
  .titletext {
    font-size: 16px;
}
.card-title {
  font-size: 25px;
}

}
